:host{
    width: 100%;
}

.info-box {
    margin: 8px;
    padding: 8px;
    height: 30px;
    display: flex;
    align-items: center;

    border-radius: 5px;
}

.info {
    background-color: rgb(211, 211, 211);
    
    -webkit-box-shadow: 0px 0px 5px 1px rgb(211, 211, 211); 
    box-shadow: 0px 0px 5px 1px rgb(211, 211, 211);
}

.transaction {
    background-color: rgb(111, 184, 111);

    -webkit-box-shadow: 0px 0px 5px 1px rgb(111, 184, 111); 
    box-shadow: 0px 0px 5px 1px rgb(111, 184, 111);
}

.exception {
    background-color: rgb(255, 49, 49);

    -webkit-box-shadow: 0px 0px 5px 1px rgb(255, 49, 49); 
    box-shadow: 0px 0px 5px 1px rgb(255, 49, 49);
}
